{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ui/style.css' %}" />

<div id="header">
  <span>Cinema on {{ hostname }}</span>
</div>
<div id="menu">
  <a href="/movies">Movies</a>
  <a href="/showtimes">Showtimes</a>
</div>

<div class="content">
  <span class="heading">Booking</span>
  <div class="section">
		<span class="title">{{ booking.showtime }}</span>
    <span class="section-content">User: {{ booking.user }}</span>
    <span class="section-content">Movie:
    {% for movie in booking.movies %}
        <a href="/movie/{{ movie.id }}">{{ movie.title}} - {{movie.rating}}</a>
    {% endfor %}
    </span>
    <a class="movie-link" href="/">Return to movie listings</a>
  </div>
</div>
