{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ui/style.css' %}" />

<script type="text/javascript">
	function toggleUser(item) {
		if ("-- Create New User --" != item.value) {
			document.getElementById("name").disabled = true;
			document.getElementById("lastname").disabled = true;
		} else {
			document.getElementById("name").disabled = false;
			document.getElementById("lastname").disabled = false;
		}
	}
</script>

<div id="header">
  <span>Cinema on {{ hostname }}</span>
</div>
<div id="menu">
  <a href="/movies">Movies</a>
  <a href="/showtimes">Showtimes</a>
  <a href="/admin">Admin</a>
</div>

<div class="content">
  <span class="heading">Movie Details</span>

	<div class="section movie-section">
		<span class="title">{{ movie.title }}</span>
		<span class="section-content">Directed by: {{ movie.director }}</span>
		<span class="rating">{{ movie.rating }}</span>
	</div>

	<div class="section showtime-section" id="showtimes">
		<span class="title">Book a showtime</span>
		{% if showtime_list %}
			<form method="post" action="/booking/add/">
				<table class="input-form">
					<tr>
						<td>Showtime:</td>
						<td>
							<select name="showtime" size="5">
								{% for showtime in showtime_list %}
					  			<option value="{{ showtime.id }}">{{ showtime.date }}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<td>Select a user:</td>
						<td>
							<select name="user" size="5" onchange="toggleUser(this)">
								{% for user in user_list %}
					  			<option value="{{ user.id }}">{{ user.name }} {{ user.lastname }}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr><td colspan="2" class="or">OR</td></tr>
					<tr>
						<td>Enter first name:</td>
						<td><input type="text" name="name" id="name" /></td>
					</tr>
					<tr>
						<td>Enter last name:</td>
						<td><input type="text" name="lastname" id="lastname" /></td>
					</tr>
				</table>
				<input type="hidden" value="{{ movie.id }}" name="movie" />
				<div class="new-showtime-section">
					<input type="submit" value="Book this showtime" id="booking-form-submit"/>
				</div>
				{% csrf_token %}
			</form>
	  {% else %}
	  	<span class="section-content">No showtimes are available.</span>
	  {% endif %}
	</div>

	<div class="section user-section" id="bookings">
		<span class="title">Other users</span>
		{% if other_user_list %}
			{% for user in other_user_list %}
					<a class="list-link" href="/user/{{ user.id }}">{{ user.name}} {{ user.lastname }}</a>
			{% endfor %}
		{% else %}
			<span class="section-content">No other users watching this moving at this time.</span>
		{% endif %}
</div>
