{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ui/style.css' %}" />

<div id="header">
  <span>Cinema on {{ hostname }}</span>
</div>
<div id="menu">
  <a class="selected" href="/movies">Movies</a>
  <a href="/showtimes">Showtimes</a>
  <a href="/admin">Admin</a>
</div>

<div class="content">
  <span class="heading">Movie Listings</span>
  {% if movie_list %}
      {% for movie in movie_list %}
        <div class="section movie-section">
          <span class="title">{{ movie.title }}</span>
          <span class="section-content">Directed by: {{ movie.director }}</span>
          <span class="rating">{{ movie.rating }}</span>
          <a class="nav-link" href="/movie/{{ movie.id }}">Click here for Showtimes</a>
        </div>
      {% endfor %}
  {% else %}
      <p>No movies are available.</p>
  {% endif %}
</div>
