{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ui/style.css' %}" />

<div id="header">
  <span>Cinema on {{ hostname }}</span>
</div>
<div id="menu">
  <a href="/movies">Movies</a>
  <a class="selected" href="/showtimes">Showtimes</a>
  <a href="/admin">Admin</a>
</div>

<div class="content">
  <span class="heading">Movie Showtimes</span>
  {% if showtime_list %}
      {% for showtime in showtime_list %}
        <div class="section showtime-section">
          <span class="title">{{ showtime.date }}</span>
          {% for movie in showtime.movies %}
              <a class="list-link" href="/movie/{{ movie.id }}">{{ movie.title}} - {{movie.rating}}</a>
          {% endfor %}
        </div>
      {% endfor %}
  {% else %}
      <p>No showtimes are available.</p>
  {% endif %}
</div>
