{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ui/style.css' %}" />

<div id="header">
  <span>Cinema on {{ hostname }}</span>
</div>
<div id="menu">
  <a href="/movies">Movies</a>
  <a href="/showtimes">Showtimes</a>
  <a href="/admin">Admin</a>
</div>

<div class="content">
	<span class="heading">User</span>
	<div class="section user-section" id="user-movie">
		<span class="title">{{ user.name }} {{ user.lastname }}</span>
		<span class="section-content">Bookings:</span>
			{% for booking in booking_list %}
				<a class="list-link" href="/booking/{{ booking.id }}">{{ booking.movie.title }} - {{ booking.showtime.date }}</a>
			{% endfor %}
		</div>
	</div>

</div>
